[Desktop Entry]
Name=Windows11-Endless
X-KDE-PluginInfo-Name=Windows11-Endless
X-KDE-PluginInfo-Author=yeyushengfan258
X-KDE-PluginInfo-Email=yeyushengfan258@outlook.com
X-KDE-PluginInfo-License=GPLv3
